<div class="game-header-container">
  <h1 class="game-title">Snake</h1>
  <div class="game-info-container">
    <button (click)="handleStartClick()">Start Game</button>
  </div>
</div>

<div class="tile-container" *ngIf="state">
  <ng-container
    *ngFor="let row of grid; index as rowIndex; trackBy: trackByIndex">
    <div class="tile" [class.food]="tile.isFood" [class.snake]="tile.isSnake"
      [class.head]="tile.isSnakeHead" [ngStyle]="{ 'grid-row': rowIndex + 1 }"
      *ngFor="let tile of row; trackBy: trackByIndex">
    </div>
  </ng-container>
</div>
