.game-container {
  display: block;
  width: max-content;
  font-family: sans-serif;
}

button {
  font-family: inherit;
}

.game-header-container {
  display: flex;
}

.game-title {
  margin: 0;
  flex: 1;
}

.game-score {
  display: flex;
  align-items: center;
}

.game-info-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.snake-grid-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake-grid {
  display: grid;
  background: #dedede;
  grid-gap: 1px 1px;
  border: solid 1px #dedede;
  border-radius: 5px;
}

.game-over {
  position: absolute;
  padding: 20px;
  box-shadow: 0 0 10px 2px #dedede;
  border: 1px solid #dedede;
  background: white;
  text-align: center;
  opacity: 0.8;
  border-radius: 5px;
  width: 169px;
  height: 85px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: white;
  &.snake {
    background: green;
  }
  &.food {
    background: red;
  }
  &.head {
    background: purple;
  }
}
